.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    /* overflow: auto; */
    /* width: 500px; */
    /* height: 500px; */
}